/* место для вашего кода */
/* body {
  max-width: 1440px;
}
.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  width: 430px;
  min-height: 450px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
} */
